.spatial-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 38px;
  background-color: #000;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.spatial-btn .content {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding: 8px;
  margin-left: 25px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.spatial-btn span {
  position: absolute;
  top: 1px;
  left: 0;
  color: #fff;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: var(--primary-color);
  font-size: 13px;
  border-radius: 50%;
}
.spatial-btn:hover a {
  color: var(--primary-color);
}

header .mail a {
  font-size: 14px;
  color: #7a7a7a;
  margin-top: 1px;
}
header .social a {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #cdcdcd;
  border-radius: 50%;
  line-height: 25px;
  font-size: 12px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .social a:hover {
  background-color: var(--primary-color);
}
header nav {
  background-color: #fff;
  z-index: 100;
  width: 100%;
}
header nav .collapse a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 15px;
  font-weight: 600;
}
header nav .collapse a:hover, header nav .collapse a.active {
  color: var(--primary-color) !important;
}

:root {
  --primary-color: #f35525;
  --primary-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.primary {
  color: var(--primary-color);
}

.landing {
  width: 100%;
  background-image: url("../Images/page-heading-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
}
.landing .link {
  font-weight: 500;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
}
.landing .link a {
  color: #000;
}
.landing h1 {
  font-size: 48px;
  font-weight: 900;
}

@-webkit-keyframes showText {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showText {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.main-btn {
  display: inline-block;
  background-color: #000;
  color: #FFF;
  font-weight: 500;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}
.main-btn:hover:not(.active) {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.main-btn.active {
  background-color: var(--primary-color);
}

.main-header span {
  color: rgb(238, 98, 107);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-left: 7px;
  display: block;
  height: 18px;
}
.main-header span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -7px;
  width: 3px;
  height: 92%;
  background-color: rgb(238, 98, 107);
}

.feature .type {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 12px;
  background-color: #ffeee9;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
}
.feature .top-text {
  font-size: 14px;
  color: #4a4a4a;
}
.feature .feat-text {
  background-color: #fafafa;
}
.feature .feat-text > p {
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.feature .feat-text > p + .text {
  display: none;
}
.feature .feat-text > p.active {
  color: var(--primary-color);
}
.feature .feat-text > p.active + .text {
  display: block;
  -webkit-animation: showText 0.3s ease-in-out;
          animation: showText 0.3s ease-in-out;
}
.feature .feat-text > p.active + .text a {
  color: #0d6efd;
}
.feature .feat-text > p.active + .text em {
  color: #d63384;
}
.feature .feat-info {
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}
.feature .feat-info p {
  font-size: 22px;
}
.feature .feat-info p span {
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.deals {
  background-color: #fafafa;
}
.deals .vial-info {
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}
.deals .vial-info span {
  font-size: 15px;
  color: rgb(170, 170, 170);
}
.deals .text h6 {
  font-size: 17px;
}
.deals .text p {
  font-size: 14px;
  color: #4a4a4a;
}
.deals .spatial-btn {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 17px;
}

footer {
  background-color: #1f1f1f;
  color: #fff;
  -webkit-box-shadow: var(--primary-shadow);
          box-shadow: var(--primary-shadow);
}
footer a {
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
footer a:hover {
  opacity: 0.75;
}