.spatial-btn {
  width: fit-content;
  height: 38px;
  background-color: #000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  .content {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 8px;
    margin-left: 25px;
    transition: 0.3s ease-in-out;
  }
  span {
    position: absolute;
    top: 1px;
    left: 0;
    color: #fff;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: var(--primary-color);
    font-size: 13px;
    border-radius: 50%;
  }
  &:hover {
    a {
      color: var(--primary-color);
    }
  }
}
