@use "global";
@use "../components/landing";
@use "../components/main-header";
@use "../components/secondary-btn";

.contact {
  .text {
    color: #4a4a4a;
  }
  .info {
    box-shadow: var(--primary-shadow);
    width: 65%;
    @media (max-width: 400px) {
      width: 100%;
    }
    span {
      font-size: 15px;
      color: #aaaaaa;
      font-weight: 400;
    }
  }
  form {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    @media (min-width: 992px) {
      margin-left: 30px;
    }
    label {
      font-size: 15px;
      color: #3a3a3a;
    }
    textarea {
      height: 150px;
      resize: none;
    }
    .secondary-btn {
      font-size: 15px;
    }
  }
}
