:root {
  --primary-color: #f35525;
  --primary-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}
.primary {
  color: var(--primary-color);
}
