@use "global";
@use "../components/landing";
@use "../helpers/animations";
@use "../components/spatial-btn";
@use "../components/main-btn";
@use "../components/main-header";

// Start Features
.feature {
  .type {
    display: block;
    width: fit-content;
    padding: 5px 12px;
    background-color: #ffeee9;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
  }
  .top-text {
    font-size: 14px;
    color: #4a4a4a;
  }
  .feat-text {
    background-color: #fafafa;
    > p {
      font-size: 17px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      + .text {
        display: none;
      }
      &.active {
        color: var(--primary-color);
        + .text {
          display: block;
          animation: showText 0.3s ease-in-out;
          a {
            color: #0d6efd;
          }
          em {
            color: #d63384;
          }
        }
      }
    }
  }
  .feat-info {
    box-shadow: var(--primary-shadow);
    p {
      font-size: 22px;
      span {
        font-size: 15px;
        color: rgb(170, 170, 170);
      }
    }
  }
}
// End Features
// Start Deals
.deals {
  background-color: #fafafa;
  .vial-info {
    box-shadow: var(--primary-shadow);
    span {
      font-size: 15px;
      color: rgb(170, 170, 170);
    }
  }
  .text {
    h6 {
      font-size: 17px;
    }
    p {
      font-size: 14px;
      color: #4a4a4a;
    }
  }
  .spatial-btn {
    transform: scale(1.2);
    margin-left: 17px;
  }
}
// End Deals
