footer.p-4
    .text-center
        p.my-3 Copyright &copy; #{new Date().getFullYear()} Villa Agency Co., Ltd. All rights reserved.
        p Design: 
            a(href="https://templatemo.com/" target="_black") TemplateMo 